@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="~/css/access-deny.css" type="text/css" />
</head>

<body>
    <div id="app">
        <div>403</div>
        <div class="txt"> Forbidden<span class="blink">_</span> </div>
        <br />
        <div class="txt"> <a href="~/">Back</a> </div>

    </div>
</body>

</html>