@{
    ViewBag.Title = "Xoá đơn vị cung cấp";
}
<div class="box box-danger">
    <div class="box-body">
        <form action="~/Supplier/Save" method="post">
            <div class="form-group">
                <label class="form-label">Tên đơn vị cung cấp: </label>
                <p class="form-control-static"> Công ty Xuất nhập khẩu Thành Hưng </p>
            </div>

            <div class="form-group">
                <label class="form-label"> Tên liên lạc: </label>
                <p class="form-control-static"> Công ty Thành Hưng </p>
            </div>

            <div class="form-group">
                <label class="form-label"> Tỉnh: </label>
                <p class="form-control-static"> Hà Nội </p>
            </div>

            <div class="form-group">
                <label class="form-label"> Địa chỉ: </label>
                <p class="form-control-static"> 123 Phùng Hưng </p>
            </div>

            <div class="form-group">
                <label class="form-label"> Số điện thoại: </label>
                <p class="form-control-static"> 0977555123 </p>
            </div>

            <div class="form-group">
                <label class="form-label"> Email: </label>
                <p class="form-control-static"> thanhhung@company.com </p>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    Xác nhận xoá
                </button>
                <a href="~/Supplier" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>



