﻿@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form action="~/Order/Shipping/@ViewBag.OrderID" method="post" id="formShipping">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chuyển giao hàng cho đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Người giao hàng:</label>
                    @Html.DropDownList("shipperID", SelectListHelper.Shippers(), new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <span id="message" style="color:red"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#formShipping").submit(function (e) {
            e.preventDefault();
            console.log("passing this function");
            var url = $(this).prop("action");
            var method = $(this).prop("method");
            var postData = $(this).serializeArray();

            $.ajax({
                url: url,
                type: method,
                data: postData,
                error: function () {
                    console.log(error);
                    alert("your request is not valid!");
                },
                success: function (data) {
                    console.log(data);
                    if (data !== "success") {
                        $("#message").html(data);
                    } else { 
                        location.reload();
                    }
                }
            });

            return;
        });
    });
</script>
