<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b> Phiên bản </b> 1.0
    </div>
    <strong>Copyright &copy; 2024-2025 <a href="https://www.facebook.com/lephi.phat">Lê Phi Phát</a>.</strong> All rights
    reserved.
</footer>
